<div class="outbox">
	<div class="mail">
		<h2 class="mail__title">Outbox</h2>
		<div class="mail__count">
			<p class="mail__text">You have {{ outbox.messages.length }} messages.</p>
			<div ng-hide="!outbox.messages.length" class="outbox__search">
				<input ng-model="outbox.search" type="text" class="mail__search-field" placeholder="Search by 'whom'">
			</div>
		</div>

		<ul class="mail__list">
			<li ng-show="!outbox.messages.length" class="mail__message">No messages!</li>
			<li ng-repeat="message in outbox.messages | filter: { from: outbox.search }"
				class="mail__message">
				<ul class="mail__info">
					<li class="mail__elem"><b>whom:</b> {{message.whom}}</li>
					<li class="mail__elem mail__elem--subj">{{message.subject}}</li>
					<li class="mail__elem">{{message.date | date: 'dd/MM/yyyy'}}</li>
				</ul>
				<div class="mail__actions">
					<!-- <a ui-sref="outboxedEmail({id:message.id})" class="btn">Read</a> -->
					<a ng-click="outbox.deleteMessage($index)" class="btn">Delete</a>
				</div>
			</li>
		</ul>
	</div>
</div>