<div class="trash">
	<div class="mail">
		<h2 class="mail__title">Trash</h2>
		<div class="mail__count">
			<p class="mail__text">You have {{ trash.messages.length }} messages.</p>
			<div ng-hide="!trash.messages.length" class="mail__search">
				<input ng-model="trash.search" type="text" class="mail__search-field" placeholder="Search by 'from'">
			</div>
		</div>

		<ul class="mail__list">
			<li ng-show="!trash.messages.length" class="mail__message">No messages!</li>
			<li ng-repeat="message in trash.messages | filter: { from: trash.search }"
					class="mail__message">
				<ul class="mail__info">
					<li class="mail__elem"><b>from:</b> {{message.from}}</li>
					<li class="mail__elem mail__elem--subj">{{message.subject}}</li>
					<li class="mail__elem">{{message.date | date: 'dd/MM/yyyy'}}</li>
				</ul>
				<div class="mail__actions">
					<!-- <a ng-click="trash.undoMessage($index)" class="btn">Undo</a> -->
					<a ng-click="trash.deleteMessage($index)" class="btn">Delete</a>
				</div>
			</li>
		</ul>
	</div>
</div>